 <!-- nav -->
 <section class="top-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
          <div class="container">
            <a class="navbar-brand" href="/">TiguS</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
          
              <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/menu">Menu</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/picorder">Order Online</a>
                </li>

                <!-- <li class="nav-item">
                  <a href="#" class="fas fa-sign-in nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#loginModal"></a>
                </li> -->

                <li class="nav-item">
                  <a href="#" class="fas fa-shopping-cart nav-link btn btn-outline-seccess" data-bs-toggle="modal" data-bs-target="#cartModal" onclick="opencart()"> Cart</a>
                </li>

                <li class="nav-item">
                  <form class="nav-link" method="post" action="/logout">
                    <button class="mb-2 fas fa-sign-out dropdown-item btn btn-light"> Sign out</button>
                    <!-- <a class="dropdown-item" href="#">Sign out</a> -->
                  </form>
                </li>
              </ul>
            </div>
          </div>

          <!-- Modal -->

              <!-- Cart Modal -->
              <div
              class="modal fade"
              id="cartModal"
              tabindex="-1"
              aria-labelledby="cartModalLabel"
              aria-hidden="true"
              >
              <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content" >
                  <div class="modal-header">
                      <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
                      <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                      ></button>
                  </div>
                  <form id="cart-form" action="/order" method="get">
                    <!--  -->
                    <% cartItems.forEach(item => { %>
                      <% menus.forEach(menu => { %>
                        <% if (item.itemId == menu._id) { %>
                    <div class="modal-body" id="mycart">
                      <!-- cart item -->
                      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-3 mb-2">
                        <div class="col-4 text-center">
                        <img src="<%= menu.img %>" style="width: 100px; height: 100px; border-radius: 1.5vw;" alt="">
                    </div>
                    <div class="col-4 text-center">
                        <p class=""><%= menu.name %></p>
                        <p class=""><%= menu.price %> THB</p>
                    </div>
                    <div class="col-4 text-center">
                        <div class="input-group">
                            <p onclick="updateCartItemQuantity('<%= menu._id %>', -1)" class="btn btn-success">-</p>
                            <p id="" class="pe-3 ps-3 pt-2"><%= item.quantity %></p>
                            <p onclick="updateCartItemQuantity('<%= menu._id %>', 1)" class="btn btn-success">+</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <% } %>
                    <% }) %>
                    <% }) %>
                    <!--  -->
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Place Order</button>
                    </div>
                  </form>
                  
                  </div>
              </div>
              </div>

          <!-- end Modal -->
        </nav>
  </section>
  <!-- end nav -->
  <script>
    function updateCartItemQuantity(itemId, quantityChange) {
        fetch("/cart/update", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ itemId, quantityChange }),
        })
          .then((response) => location.reload())
          .then((result) => {
            console.log(result);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
  </script>